 <div class='row'>
  <div class='member-applications span5 offset1'>
    <h3>Member Applications</h3>
    <% @member_applications.each do |member| %>
      <%= link_to member.name, member_application_path(member) %>
    <% end %>
  </div>
  <div class='mentor-applications span5 offset1'>
    <h3>Mentor Applications</h3>
    <% @mentor_applications.each do |mentor| %>
      <%= link_to mentor.name, mentor_application_path(mentor) %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to 'Review Rejected Applications', rejected_applications_index_path, class: "btn btn-primary offset4" %>
</div>
