<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
(function() {
  if (typeof window.janrain !== 'object') window.janrain = {};
  if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
  if (typeof window.janrain.settings.capture !== 'object') window.janrain.settings.capture = {};

  janrain.settings.capture.recaptchaPublicKey = '6LeVKb4SAAAAAGv-hg5i6gtiOV4XrLuCDsJOnYoP';
  janrain.settings.capture.responseType = 'token';
  janrain.settings.capture.transactionTimeout = 100;
  janrain.settings.capture.stylesheets = [];
  janrain.settings.capture.mobileStylesheets = [];

  janrain.settings.capture.keepProfileCookieAfterLogout = true;
  janrain.settings.capture.setProfileCookie = true;
  janrain.settings.type = 'embed';
  janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
  janrain.settings.tokenUrl = '';
  janrain.settings.tokenAction = 'event';
  janrain.settings.format = 'one column';
  janrain.settings.providers = ['facebook','google','twitter'];
  janrain.settings.providersPerPage = 4;
  janrain.settings.actionText = ' ';
  janrain.settings.width = 300;
  janrain.settings.borderColor = '#ffffff';
  janrain.settings.backgroundColor = '#ffffff';
  janrain.settings.language = 'en';

  janrain.settings.capture.modalBorderOpacity = 1;
  janrain.settings.capture.modalBorderWidth = 5;
  janrain.settings.capture.modalBorderRadius = 5;
  janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
  janrain.settings.capture.modalBorderColor = '#7AB433';
  janrain.settings.capture.noModalBorderInlineCss = true;

  janrain.settings.packages = ['login', 'capture'];

  var e = document.createElement('script');
  e.type = 'text/javascript';
  e.id = 'janrainAuthWidget';

  var url = document.location.protocol === 'https:' ? 'https://' : 'http://';
  url += 'd16s8pqtk4uodx.cloudfront.net/signin/load.js';
  e.src = url;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(e, s);
})();

$(document).ready(function() {
  janrain.ready = true;
});

function janrainCaptureWidgetOnLoad() {
  janrain.capture.ui.start();

  var acquireSession = function(result) {
    var url = '<%= acquire_session_path %>.json';
    $.ajax(url, {
      type: "POST",
      data: {access_token: result.accessToken},
      success: function(data, status, jqXHR) {
        window.location.reload(true);
      },
      error: function(jqXHR, status, errorThrown) {
        alert(errorThrown);
      }
    });
  };

  janrain.events.onCaptureLoginSuccess.addHandler(acquireSession);
}

