<article class="text-center">
  <h1><span class="green">Green</span> <span class="mercury">Mercury</span></h1>
</article>

<p><%= link_to 'Apply to be a mentor', new_mentor_application_path %></p>

<p><%= link_to 'Apply to be a member', new_member_application_path %></p>
