<h1>
  Values and Code of Conduct
</h1>

<p>
  We believe that technical knowledge, especially the ability to understand and create software, is becoming necessary to navigate and work meaningfully in a world that is increasingly digital. Unfortunately, the culture surrounding digital makers has become a less-than-friendly place for women -- something we here at Code Scouts would like to change.
</p>

<p>
  Our mission is to empower women to find their place in the digital world, and to change the culture of tech one developer at a time. We ask that you consider and promote the following:
</p>

<h2>
Code Scouts Core Values
</h2>

<ul>
    <li>Respect: Listening and being heard. Having and assuming good intentions. Fostering a community with no judgments about knowledge, skill level, or other differences.</li>
    <li>Kindness: Being welcoming and encouraging to one another, especially newcomers and members from other chapters.</li>
    <li>Generosity: Cutting others slack, and cutting yourself some slack, too! Sharing your time and skills with your fellow members through peer mentorship. Contributing to open source software projects.</li>
    <li>Growth: Striving to learn and improve oneself. Understanding that growing takes practice and failure is just another step on the path to success.</li>
    <li>Community: Working together as a Code Scouts community, as well as being citizens of the greater open source community. Together we can achieve more than when we work alone, and it’s much more fun!</li>
</ul>

<p>
  Social relationships are difficult to manage, especially in situations where people who don’t otherwise know each other are placed in a group and asked to work together. While we ask that each one of you does your very best to respect the feelings and boundaries of fellow members, we know that there is always potential for incident. For those situations, please consider the following operative:
</p>

<h2>
  Code of Conduct
</h2>

<p>
  <em>Harassment and other conduct that violates Code Scouts’ values will not be tolerated.</em>
</p>

<p>
  The following are considered forms of harassment: offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, and/or religion; displaying sexual images in public spaces; deliberate intimidation, stalking, following, harassing photography or recording; sustained disruption at talks or other events; and inappropriate physical contact or other unwelcome sexual attention.
</p>

<p>
  If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a mentor or staff organizer.
</p>

<p>
  Participants that are asked to stop any harassing behavior are expected to comply immediately. Anyone violating these rules may be sanctioned or expelled from Code Scouts without a refund at the discretion of the organizers.
</p>

