<p>-----------------------------------------------------</p>
<p><%= link_to 'Add new concept', new_concept_path %></p>

<p><%= link_to 'View concept (id: 1)', '/concepts/1' %></p>

<p><%= link_to 'View all concepts', concepts_path %></p>