<h4>Attending:</h4>
  <ul>
    <% event.all_rsvps.each do |uuid, rsvp| %>
      <li>
        <%= rsvp.name %>
        <% if !rsvp.organizer?(event) && can?(:manage, @event) %>
           <%= button_to 'Make organizer', event_organizers_path(event_id: event.id, user_uuid: uuid), remote: true %>
        <% end %>
      </li>
    <% end %>
  </ul>