<ul>
  <% @events.each do |event| %>
    <li>
      <%= event[:time] %>
      <%= link_to(event[:name], event[:url]) %>
      <% if event[:going] %>
        (You're going!)
      <% else %>
        (<%= link_to('Go!', event_rsvp_path(event[:id]), method: :POST) %>)
      <% end %>
    </li>
  <% end %>
</ul>
