<h1>Events</h1>

<%= link_to "Create an event", new_event_path %>

<div class='container concepts-list'>
  <p>Events you are attending</p>

  <ul>
    <% current_user.events.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
  </ul>
</div>

<div class='container concepts-list'>
  <p>Events you are not attending</p>

  <ul>
    <% current_user.events_without_rsvp.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
  </ul>
</div>