<p><%= link_to 'Create a request', new_meeting_request_path %></p>

<h3>Your Open Requests</h3>

<%= render 'requests_list', meeting_requests: current_user.open_meeting_requests, users: @open_users %>

<h3>Your Claimed Requests</h3>

<%= render 'requests_list', meeting_requests: current_user.claimed_meeting_requests, users: @claimed_users %>