<section id='my-requests' class='span12'>
  <h3>My Claimed Requests</h3>
  <%= render 'requests_list', meeting_requests: current_user.claimed_meeting_requests, users: @claimed_users %>
</section>
<section class='row-fluid'>
  <div id='open-requests' class='span9'>
    <h3>Open Requests</h3>
    <%= render 'requests_list', meeting_requests: current_user.open_meeting_requests, users: @open_users %>
  </div>
  <div class="span3 concepts">
    <h3>Concepts</h3>
    <p>Click on a concept to see related requests</p>
    <ul class='inline'>
      <%= render partial: "concept", collection: @concepts %>
    </ul>
  </div>
</section>

