<div class="row">
  <div class="span12">
    <h3>My Claimed Requests</h3>
    <%= render 'requests_list', meeting_requests: current_user.claimed_meeting_requests, users: @claimed_users %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h3>Open Requests</h3>
    <%= render 'requests_list', meeting_requests: current_user.open_meeting_requests, users: @open_users %>
  </div>

  <div class="span4">
    <h4>Concepts</h4>
  </div>
</div>