<ul>
  <% requests.each do |request| %>
    <li>
      <%= link_to request.title, request_path(request) %>
      <p>
        <%= request.created_at.strftime("%B %d, %Y") %>
        <% if current_user.is_mentor? %>
           | <%= users[request.member_uuid].name %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>