<div class='row'>
  <div class='span6'>
    <h3>New Request</h3>
    <p class='muted'>Request a one-time meeting with a Mentor in order to receive guidance or help with a problem. Please not that any information shared here will be visible to all Code Scouts.</p>
  </div>
</div>
<div class='row'>
  <%= render 'request_form', request: @request %>
</div>