<% if can? :create, Project.new %>
  <%= link_to 'Create a Project', new_project_path %>
<% end %>

<div id='projects-listing'>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
  </ul>
</div>
