<h3>Thank you for registering!</h3>
<p class="lead">Please choose an application type to proceed:</p>

<%= link_to 'Apply to be a mentor', new_mentor_application_path, class: "btn btn-primary" %>


<%= link_to 'Apply to be a member', new_member_application_path, class: "btn btn-primary" %>
