.application-table {
  th {
    width: 5%
  } 
}

.application-text-form {
  min-height: 100px;
  min-width: 500px;
}

.meeting-contact-form {
  min-height: 60px;
  min-width: 500px;
}

.meeting-text-form {
  min-height: 200px;
  min-width: 500px;
}

.btn-wide {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.plain-list {
  list-style-type: none;
}

.extra-margin-bottom {
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
}

$green: #4c8f85;
$mercury: #d1d1d1;

.green {
  color: $green;
}

.mercury {
  color: $mercury;
}

.concepts-list {
  margin-top: 20px;
}

#location-map {
  display: none;
}
