.application-table {
  th {
    width: 5%
  } 
}

.application-text-form {
  min-height: 100px;
  min-width: 500px;
}

.project-text-form {
  width: 40em;
  min-height: 300px;
}

$green: #4c8f85;
$mercury: #d1d1d1;

.green {
  color: $green;
}

.mercury {
  color: $mercury;
}

.concepts-list {
  margin-top: 20px;
}

.role-field {
  padding: 5px;
}

footer {
  position: relative;
  width: 370px;
  padding: 2%;
}

footer img {
  max-width: 35%;
}
