.application-table {
  th {
    width: 5%
  } 
}

.application-text-form {
  min-height: 100px;
  min-width: 500px;
}

$green: #4c8f85;
$mercury: #d1d1d1;

.green {
  color: $green;
}

.mercury {
  color: $mercury;
}

.concepts-list {
  margin-top: 20px;
}

.hiding {
  display: none;
}
